*{
    margin: 0;
    padding: 0;
    
  }
  input{
    width: 70%;
    height: 50px;
    border-color: pink;
    box-shadow: 5px;
    color:black;
    text-emphasis-color:aqua;
    
  }
  .todo-form{
    align-items: center;
    color: aqua;
    align-content: center;
    padding: 300px;
  }
  body{
    background-color:white;
  }
.icons{
  box-shadow: 5px;
  color: aqua;
  text-emphasis-color:aqua;
  
}
.todo-input-edit{
  width: 70%;
  height: 50px;
  border-color: pink;
  box-shadow: 5px;
  color: aqua;
  text-emphasis-color:aqua;
}
Input{
  width: 70%;
  font-size: large;


}
#display{
  display: flex;
  height: 50px;
  width: 500px;
  
}
.todo-button{
  height: 50px;
  width: 100px;
  border-radius: 10px;
  margin: 10px;
  background-color: aqua;
}
.header{
  justify-self: center;
  padding-right: 100px;
  
}